<a href="https://colab.research.google.com/github/rikdas/Demo_Tutorials/blob/master/for_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**for Loop**
It is used to carry out iteration in Python. It iterates through different objects which include lists, strings, tuples as well as on key-value pairs of dictionaries.

In [0]:
l = [5, 6, 7, 2, 4, 1, 11, 12]

In [4]:
for n in l:
  print(n)

5
6
7
2
4
1
11
12

**Modulo**
This operator is providing us with the remainder of a division

In [5]:
19 % 5

4

In [6]:
print(l)
for n in l:
  if n % 3 == 0:
    print(n)

[5, 6, 7, 2, 4, 1, 11, 12]
6
12

In [7]:
for n in l:
  if n % 2 ==0:
    print(n)
  else:
    print('odd number')

odd number
6
odd number
2
4
odd number
odd number
12